body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}

.top-bar {
  background: white;
  padding: 12px;
  display: flex;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 100;
}

#feed {
  width: 600px;
  margin: auto;
  margin-top: 20px;
}

.post-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}
.post-card img {
  max-width: 100%;
  border-radius: 5px;
}
